<div class="container border-top pt-5">
    <h2 class="text-center">Categories</h2>
    <div *ngIf="message">
        <alert type="success"  [dismissible]="dismissible" >{{message}}</alert>
    </div>
    <button type="button" class="btn btn-primary" routerLink="new">Add Categories</button>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                <td>{{category.name| titlecase}}</td>
                <td class="text-center">
                    <a class="text-primary" [routerLink]="['edit',category.id]"><i class="far fa-edit"></i></a>
                    <a class="text-danger mx-2" (click)="onDeleteCategories(category.id)"><i class="far fa-trash-alt"></i></a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>