/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-touched.ng-invalid{
    border: 1px solid red;
    box-shadow: 0 0 22px #ff000030 inset;
}